.ethereum-address-display {
  font-family: monospace;
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ethereum-address-placeholder {
  color: #636161;
  padding: 8px 0;
  flex-grow: 1;
  margin-right: 10px;
}