.ethereum-address-display {
  font-family: monospace;
  background: #b3b3b3;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ethereum-address-placeholder {
  color: #292929;
  padding: 8px 0;
  flex-grow: 1;
  margin-right: 10px;
}